@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --selected-color: #212129;
  --accent-color: #9543ff;
  --text-color: #dcd0d0;
  --background: #0a0a14;
  --foreground: #171717;
  font-size: 1.5rem;
  font-family: Poppins, Calibri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "Segoe UI", sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to bottom, #0a0a14 65%, #10181a 100%);
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 70vh;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
}

.contactparagraph {
  text-align: center;
  max-width: 100%;
  font-size: 1.5rem;
  border: 2px solid rgb(255, 0, 247);
  border-radius: 12px;
  padding: 2rem;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
  z-index: -1;
  animation: topEntry 1200ms ease-in-out;
}

.logoHeader::before {
  content: "";
  position: absolute;
  transform: translateX(-50%) translateY(1%);
  left: 50%;
  width: 550px;
  height: 550px;
  background: radial-gradient(
    circle at center,
    rgba(65, 23, 75, 0.4) 20%,
    rgba(10, 10, 20, 0.9) 70%,
    transparent 100%
  );
  z-index: -1;
  pointer-events: none;
  max-width: 100vw;
}

.logoText {
  text-align: center;
  font-size: 1.5rem;
  font-family: Caveat;
}

.gamesTitle {
  font-size: 2rem;
  border-top: 1px solid white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  animation: bottomEntry 1200ms ease-in-out;
}

.gameButtons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0rem;
}

.gameButton {
  flex: 1 1 30%;
  max-width: 30%;
  transition: all 50ms ease-in;
  max-height: 170px;
  object-fit: contain;
  cursor: pointer;
}

#gameButton3 {
  position: relative;
  top: 2.3rem;
}

.gameButton:hover {
  transform: scale(1.05);
}

@keyframes topEntry {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottomEntry {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  body {
    animation: lockScroll 1ms 1.2s forwards;
  }
}

@keyframes lockScroll {
  0% {
    overflow-x: visible;
  }
  100% {
    overflow-x: hidden;
  }
}

@media (max-width: 1200px) {
  .gameButton {
    flex: 1 1 45%;
    max-width: 85%;
  }
  .gameButtons {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0rem;
    margin-bottom: 2rem;
  }

  #gameButton1 {
    margin-bottom: 2rem;
  }

  #gameButton2 {
    margin-bottom: 2rem;
    max-height: 160px;
  }

  #gameButton3 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 670px) {
  .logoHeader {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .logoText {
    font-size: 1rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 460px) {
  .gamesTitle {
    font-size: 1.3rem;
  }
}
